@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,800;1,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Metrophobic&family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Patrick Hand", cursive;
  font-size: 16px; }

a {
  text-decoration: none; }

li {
  list-style: none; }

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;
  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3; }

html {
  overflow-x: hidden; }

body.dark {
  --light: #0c0c1e;
  --grey: #060714;
  --dark: #fbfbfb; }

body {
  background: var(--grey);
  overflow-x: hidden; }

.fixed {
  position: fixed;
  top: 80px;
  right: 50px;
  z-index: 14; }

.congrats {
  position: absolute;
  top: 140px;
  width: 550px;
  height: 100px;
  padding: 20px 10px;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0; }

.display {
  display: block !important; }

.displayFlex {
  display: flex !important; }

.display1 {
  display: flex !important;
  z-index: 4 !important;
  justify-content: center; }

.specific-nav {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 40px; }
  .specific-nav li {
    margin-right: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content; }
    .specific-nav li a {
      text-decoration: none;
      color: #e41d56;
      font-weight: bold; }
  .specific-nav li:hover {
    border-bottom: 2px solid #e41d56; }

.mainnav {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  position: fixed;
  top: 0px;
  z-index: 13;
  font-family: "roboto"; }
  .mainnav-home {
    flex: 2.7;
    margin-left: 50px;
    display: flex;
    background-color: #fff;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    font-family: "Noto Sans", sans-serif; }
    .mainnav-home a {
      text-decoration: none;
      color: #ff385c;
      font-weight: bolder; }
      .mainnav-home a i {
        font-size: 25px; }
  .mainnav-search {
    flex: 2.3;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .mainnav-search button {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background-color: white;
      border: 2px solid palevioletred; }
      .mainnav-search button input {
        width: 100%;
        height: 100%;
        border-radius: 28px;
        padding: 5px;
        border: none;
        text-align: center; }
  .mainnav-add {
    flex: 1.7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%; }
    .mainnav-add button {
      height: 100%;
      border: none;
      padding-left: 20px;
      padding-right: 20px;
      background-color: white;
      border-radius: 20px; }
    .mainnav-add button:hover {
      background-color: #ebebeb; }
    .mainnav-add a {
      color: black;
      text-decoration: none; }
  .mainnav-user {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }

.specific-container {
  position: relative;
  top: 80px;
  padding-left: 40px;
  padding-right: 60px;
  width: 100%; }
  .specific-container .float-container {
    width: 100%;
    height: 550px;
    position: relative;
    padding: 0px; }
  .specific-container-name {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 30px; }
    .specific-container-name .name {
      font-weight: bolder;
      font-size: 1.5em; }
    .specific-container-name .wishLish button {
      border: none;
      background-color: transparent;
      color: #e41d56; }
    .specific-container-name .wishLish button:hover {
      border-bottom: 1px solid #e41d56; }
  .specific-container-img {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .specific-container-img-full {
      display: none;
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: white;
      z-index: 1000;
      padding-left: 40px;
      padding-right: 40px; }
      .specific-container-img-full-img {
        width: 100%; }
    .specific-container-img-some {
      width: 90%;
      z-index: 1;
      height: 300px;
      overflow: hidden;
      display: grid;
      border-radius: 20px;
      background-color: white;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 3px;
      margin-bottom: 40px;
      grid-template-areas: "img1 img1 img2 img3" "img1 img1 img4 img5"; }
      .specific-container-img-some .show {
        z-index: 2;
        position: absolute;
        bottom: 20px;
        right: 70px;
        background-color: white;
        border-radius: 15px;
        overflow: hidden; }
        .specific-container-img-some .show button {
          background-color: white;
          border-radius: 10px;
          color: black;
          font-weight: bolder; }
      .specific-container-img-some .img1 {
        width: 98%;
        height: 98%;
        grid-area: img1; }
        .specific-container-img-some .img1 img {
          width: 100%;
          height: 100%; }
      .specific-container-img-some .img2 {
        width: 98%;
        height: 98%;
        grid-area: img2; }
        .specific-container-img-some .img2 img {
          width: 100%;
          height: 100%; }
      .specific-container-img-some .img3 {
        width: 98%;
        height: 98%;
        grid-area: img3; }
        .specific-container-img-some .img3 img {
          width: 100%;
          height: 100%; }
      .specific-container-img-some .img4 {
        width: 98%;
        height: 98%;
        grid-area: img4; }
        .specific-container-img-some .img4 img {
          width: 100%;
          height: 100%; }
      .specific-container-img-some .img5 {
        width: 98%;
        height: 98%;
        grid-area: img5; }
        .specific-container-img-some .img5 img {
          width: 100%;
          height: 100%; }
  .specific-container-payment {
    background-color: white;
    width: 30%;
    float: right;
    height: 450px;
    padding: 20px;
    border: 0.5px solid black;
    border-radius: 10px; }
    .specific-container-payment-fee .realcost {
      width: 100%;
      display: flex;
      flex-direction: row; }
      .specific-container-payment-fee .realcost label {
        color: black;
        font-size: larger;
        font-weight: bold;
        width: fit-content;
        height: 1.25em; }
      .specific-container-payment-fee .realcost input {
        border: none;
        width: 30%;
        background-color: transparent;
        color: black;
        font-size: larger;
        font-weight: bold;
        height: 1, 25em; }
    .specific-container-payment-fee .fiatcost {
      width: 100%;
      display: flex;
      flex-direction: row; }
      .specific-container-payment-fee .fiatcost input {
        width: 45%;
        border: none;
        background-color: transparent;
        height: 1.25em; }
      .specific-container-payment-fee .fiatcost p {
        width: fit-content; }
    .specific-container-payment-inputsubmit {
      width: 100%;
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .specific-container-payment-inputsubmit input {
        padding: 5px;
        background-color: #e41d56;
        color: white;
        border: none;
        border-radius: 7px;
        font-size: larger;
        height: 2.25em;
        width: 100%; }
      .specific-container-payment-inputsubmit input:hover {
        opacity: 0.9; }
    .specific-container-payment-inputday {
      width: 100%;
      height: 3em;
      border: 4px;
      margin-bottom: 20px; }
      .specific-container-payment-inputday-start {
        width: 48%;
        display: flex;
        flex-direction: column;
        float: left; }
        .specific-container-payment-inputday-start label {
          font-weight: bold; }
        .specific-container-payment-inputday-start input {
          border: none; }
      .specific-container-payment-inputday-end {
        width: 48%;
        display: flex;
        flex-direction: column;
        float: right; }
        .specific-container-payment-inputday-end label {
          font-weight: bold; }
        .specific-container-payment-inputday-end input {
          border: none; }
    .specific-container-payment-price p {
      font-weight: bold;
      font-size: 1.5em; }
  .specific-container-detail {
    float: left;
    width: 50%;
    padding-left: 30px; }
    .specific-container-detail-house {
      margin-left: 30px;
      font-size: 2em; }
    .specific-container-detail-host {
      margin-left: 30px;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .specific-container-detail-host h2 {
        width: 30%; }
      .specific-container-detail-host p {
        font-size: larger;
        font-weight: bolder;
        width: 45%; }
  .specific-container-host {
    width: 100%;
    padding: 30px; }

.footer {
  width: 100%;
  padding: 10px;
  position: fixed;
  bottom: 0px;
  background-color: #f4f4f4; }
  .footer-container {
    width: 100%;
    height: 1.15rem;
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px; }
    .footer-container-link {
      margin-left: 10px; }
      .footer-container-link a {
        text-decoration: none;
        margin-left: 10px;
        color: black;
        font-weight: lighter; }

.home {
  position: relative;
  top: 180px;
  width: 100%;
  height: fit-content;
  margin-bottom: 100px; }
  .home-filter {
    position: fixed;
    top: 80px;
    left: 0px;
    background-color: white;
    height: 100px;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    z-index: 5; }
    .home-filter form {
      display: flex;
      opacity: 0.5;
      padding: 15px;
      padding-top: 0px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: max-content;
      background-color: white;
      min-width: 70px;
      height: 100%;
      margin-left: 10px; }
      .home-filter form p {
        position: relative;
        text-align: center;
        top: 10px;
        width: 100%;
        font-size: 12px;
        font-weight: bolder; }
      .home-filter form button {
        border: none;
        background-color: transparent;
        height: 50%;
        width: 100%; }
        .home-filter form button img {
          width: 35px;
          height: 35px; }
    .home-filter form:hover {
      border-bottom: 2px solid black;
      opacity: 1; }
    .home-filter form:focus {
      opacity: 1; }
  .home-main {
    width: 100%;
    padding: 30px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-auto-rows: 400px; }
    .home-main a {
      text-decoration: none;
      color: black; }
    .home-main-card {
      width: 25%;
      height: 40%;
      min-width: 290px;
      border-radius: 10px;
      min-height: 400px;
      display: flex;
      flex-direction: column; }
      .home-main-card-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 1.5em; }
        .home-main-card-footer div {
          margin-top: 10px;
          font-weight: bolder; }
        .home-main-card-footer .addToWishlist button {
          border: none;
          background-color: transparent;
          font-size: larger; }
        .home-main-card-footer .addToWishlist button:hover {
          color: #e41d56; }
      .home-main-card-body {
        display: flex;
        flex-direction: column; }
        .home-main-card-body-name {
          display: block;
          width: 90%;
          margin-top: 10px;
          height: 1.5em;
          float: left;
          overflow: hidden;
          font-weight: bolder; }
        .home-main-card-body-day {
          width: 100%;
          margin-top: 10px;
          height: 20px;
          display: flex;
          flex-direction: row; }
          .home-main-card-body-day p {
            width: 48%;
            font-weight: lighter; }
      .home-main-card a {
        width: 100%;
        height: 70.5%;
        border-radius: 10px; }
      .home-main-card img {
        border-radius: 10px;
        width: 100%;
        height: 100%; }

.register {
  margin: 0;
  background-image: url("/img/background/mdaymmuanuadi.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Patrick Hand", cursive; }
  .register #registerForm {
    width: 30%; }

.loginPage {
  padding: 0;
  margin: 0;
  background-image: url("/img/default/loginbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center; }
  .loginPage #loginForm {
    width: 30%;
    min-width: 300px; }

.login-social {
  position: relative;
  height: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 4px; }
  .login-social .link1 {
    width: 24%;
    height: 100%;
    background-color: #f8ede3;
    text-align: center;
    color: #85586f; }
  .login-social .link2 {
    width: 24%;
    text-align: center;
    height: 100%;
    color: #85586f;
    background-color: #f8ede3; }
  .login-social .link3 {
    width: 24%;
    text-align: center;
    height: 100%;
    color: #85586f;
    background-color: #f8ede3; }
  .login-social .link4 {
    text-align: center;
    width: 24%;
    height: 100%;
    color: #85586f;
    background-color: #f8ede3; }
  .login-social a:hover {
    background-color: #85586f;
    color: #d0b8a8;
    border: 1px solid black;
    transform: scale(1.1);
    cursor: pointer; }

.login-bottom {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .login-bottom a {
    color: #d0b8a8;
    text-decoration: none; }
  .login-bottom a:hover {
    color: #85586f;
    text-decoration: underline; }

.tripContainer {
  position: relative;
  top: 90px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); }
  .tripContainer-card {
    position: relative;
    height: 160px;
    width: 250px;
    color: white; }
    .tripContainer-card img {
      width: 100%;
      height: 100%; }
    .tripContainer-card .name {
      position: absolute;
      top: 1.5em;
      left: 20px;
      text-overflow: ellipsis;
      height: 1.5em;
      width: 220px;
      white-space: nowrap;
      overflow: hidden;
      text-transform: uppercase;
      font-weight: bolder;
      font-size: larger; }
    .tripContainer-card .day {
      position: absolute;
      top: 3em;
      left: 20px;
      height: 1.5em;
      width: 220px;
      overflow: hidden; }
    .tripContainer-card .value {
      position: absolute;
      overflow: hidden;
      top: 4.5em;
      left: 20px;
      height: 1.5em;
      width: 220px;
      font-weight: bolder;
      font-size: larger; }

.searchBoard-form {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap; }
  .searchBoard-form button {
    margin: 10px;
    border: none;
    color: white;
    background-color: #e41d56;
    border-radius: 10px; }
  .searchBoard-form button:hover {
    opacity: 0.8;
    width: max-content;
    background-color: #ff385c;
    color: black; }
  .searchBoard-form .item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 25%;
    min-width: 50px; }
    .searchBoard-form .item input[type="date"]:in-range::-webkit-datetime-edit-year-field,
    .searchBoard-form .item input[type="date"]:in-range::-webkit-datetime-edit-month-field,
    .searchBoard-form .item input[type="date"]:in-range::-webkit-datetime-edit-day-field,
    .searchBoard-form .item input[type="date"]:in-range::-webkit-datetime-edit-text {
      color: transparent; }
    .searchBoard-form .item input {
      border: 1.2px solid gray;
      width: 100%; }
    .searchBoard-form .item label {
      width: 100%; }

@media (max-width: 320px) {
  #loginForm {
    width: 80%; }
  #registerForm {
    width: 90%; } }

@media (max-width: 700px) {
  #registerForm {
    width: 80%; }
  .fixed {
    position: fixed;
    top: 80px;
    right: 0px;
    z-index: 14; }
  .mainnav {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    position: fixed;
    top: 0px;
    z-index: 13;
    font-family: "roboto";
    padding-left: 30px;
    padding-right: 30px; }
    .mainnav-home {
      display: none; }
    .mainnav-search {
      flex: 2.3;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .mainnav-search button {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-color: white;
        border: 2px solid palevioletred; }
        .mainnav-search button input {
          width: 100%;
          height: 100%;
          border-radius: 28px;
          padding: 5px;
          border: none;
          text-align: center; }
    .mainnav-add {
      display: none; }
    .mainnav-user {
      display: none; }
  .specific-container {
    position: relative;
    top: 80px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%; }
    .specific-container .float-container {
      width: 100%;
      height: auto;
      position: relative;
      padding: 0px;
      display: flex;
      flex-direction: column; }
    .specific-container-name {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 30px; }
      .specific-container-name .name {
        font-weight: bolder;
        font-size: 1.5em; }
      .specific-container-name .wishLish {
        display: none; }
        .specific-container-name .wishLish button {
          border: none;
          background-color: transparent;
          color: #e41d56; }
        .specific-container-name .wishLish button:hover {
          border-bottom: 1px solid #e41d56; }
    .specific-container-img {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .specific-container-img-full {
        display: none;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: white;
        z-index: 1000;
        padding-left: 40px;
        padding-right: 40px; }
        .specific-container-img-full-img {
          width: 100%; }
      .specific-container-img-some {
        width: 90%;
        z-index: 1;
        height: auto;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background-color: white; }
        .specific-container-img-some .show {
          z-index: 2;
          position: absolute;
          bottom: 20px;
          right: 70px;
          background-color: white;
          border-radius: 15px;
          overflow: hidden; }
          .specific-container-img-some .show button {
            background-color: white;
            border-radius: 10px;
            color: black;
            font-weight: bolder; }
        .specific-container-img-some .img1 {
          width: 98%;
          height: auto; }
          .specific-container-img-some .img1 img {
            width: 100%;
            height: auto; }
        .specific-container-img-some .img2 {
          width: 98%;
          height: 98%; }
          .specific-container-img-some .img2 img {
            width: 100%;
            height: 100%; }
        .specific-container-img-some .img3 {
          width: 98%;
          height: 98%; }
          .specific-container-img-some .img3 img {
            width: 100%;
            height: 100%; }
        .specific-container-img-some .img4 {
          width: 98%;
          height: 98%; }
          .specific-container-img-some .img4 img {
            width: 100%;
            height: 100%; }
        .specific-container-img-some .img5 {
          width: 98%;
          height: 98%; }
          .specific-container-img-some .img5 img {
            width: 100%;
            height: 100%; }
    .specific-container-payment {
      background-color: white;
      width: 70%;
      height: 450px;
      padding: 20px;
      border: 0.5px solid black;
      border-radius: 10px; }
      .specific-container-payment-fee .realcost {
        width: 100%;
        display: flex;
        flex-direction: row; }
        .specific-container-payment-fee .realcost label {
          color: black;
          font-size: larger;
          font-weight: bold;
          width: fit-content;
          height: 1.25em; }
        .specific-container-payment-fee .realcost input {
          border: none;
          width: 30%;
          background-color: transparent;
          color: black;
          font-size: larger;
          font-weight: bold;
          height: 1, 25em; }
      .specific-container-payment-fee .fiatcost {
        width: 100%;
        display: flex;
        flex-direction: row; }
        .specific-container-payment-fee .fiatcost input {
          width: 45%;
          border: none;
          background-color: transparent;
          height: 1.25em; }
        .specific-container-payment-fee .fiatcost p {
          width: fit-content; }
      .specific-container-payment-inputsubmit {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center; }
        .specific-container-payment-inputsubmit input {
          padding: 5px;
          background-color: #e41d56;
          color: white;
          border: none;
          border-radius: 7px;
          font-size: larger;
          height: 2.25em;
          width: 100%; }
        .specific-container-payment-inputsubmit input:hover {
          opacity: 0.9; }
      .specific-container-payment-inputday {
        width: 100%;
        height: 3em;
        border: 4px;
        margin-bottom: 20px; }
        .specific-container-payment-inputday-start {
          width: 48%;
          display: flex;
          flex-direction: column;
          float: left; }
          .specific-container-payment-inputday-start label {
            font-weight: bold; }
          .specific-container-payment-inputday-start input {
            border: none; }
        .specific-container-payment-inputday-end {
          width: 48%;
          display: flex;
          flex-direction: column;
          float: right; }
          .specific-container-payment-inputday-end label {
            font-weight: bold; }
          .specific-container-payment-inputday-end input {
            border: none; }
      .specific-container-payment-price p {
        font-weight: bold;
        font-size: 1.5em; }
    .specific-container-detail {
      width: 100%;
      padding-left: 30px; }
      .specific-container-detail-house {
        margin-left: 30px;
        font-size: 2em; }
      .specific-container-detail-host {
        margin-left: 30px;
        display: flex;
        flex-direction: row;
        align-items: center; }
        .specific-container-detail-host h2 {
          width: 30%; }
        .specific-container-detail-host p {
          font-size: larger;
          font-weight: bolder;
          width: 45%; }
    .specific-container-host {
      width: 100%;
      padding: 30px; } }

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--light);
  z-index: 2000;
  font-family: var(--lato);
  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none; }

#sidebar::--webkit-scrollbar {
  display: none; }

#sidebar.hide {
  width: 60px; }

#sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--dark);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box; }

#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center; }

#sidebar .side-menu {
  width: 100%;
  margin-top: 48px; }

#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px; }

#sidebar .side-menu li.active {
  background: var(--grey);
  position: relative; }

#sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--red);
  z-index: -1; }

#sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--red);
  z-index: -1; }

#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden; }

#sidebar .side-menu.top li.active a {
  color: var(--blue); }

#sidebar.hide .side-menu li a {
  transition: width 0.3s ease; }

#sidebar .side-menu li a.logout {
  color: var(--red); }

#sidebar .side-menu.top li a:hover {
  color: var(--red); }

#sidebar .side-menu li a .bx {
  display: flex;
  justify-content: center; }

/* SIDEBAR */
/* CONTENT */
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease; }

#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px; }

/* NAVBAR */
#content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--lato);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000; }

#content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light); }

#content nav a {
  color: var(--dark); }

#content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark); }

#content nav .nav-link {
  font-size: 16px;
  transition: 0.3s ease; }

#content nav .nav-link:hover {
  color: var(--blue); }

#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto; }

#content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px; }

#content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark); }

#content nav form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer; }

#content nav .notification {
  font-size: 20px;
  position: relative; }

#content nav .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--light);
  background: var(--red);
  color: var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center; }

#content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%; }

#content nav .switch-mode {
  display: block;
  min-width: 50px;
  height: 25px;
  border-radius: 25px;
  background: var(--red);
  cursor: pointer;
  position: relative; }

#content nav .switch-mode::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--red);
  border-radius: 50%;
  transition: all 0.3s ease; }

#content nav #switch-mode:checked + .switch-mode::before {
  left: calc(100% - (25px - 4px) - 2px); }

/* NAVBAR */
/* MAIN */
#content main {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto; }

#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap; }

#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark); }

#content main .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px; }

#content main .head-title .left .breadcrumb li {
  color: var(--dark); }

#content main .head-title .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none; }

#content main .head-title .left .breadcrumb li a.active {
  color: var(--blue);
  pointer-events: unset; }

#content main .head-title .btn-download {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--blue);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500; }

#content main .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px; }

#content main .box-info li {
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px; }

#content main .box-info li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center; }

#content main .box-info li:nth-child(1) .bx {
  background: var(--light-blue);
  color: var(--blue); }

#content main .box-info li:nth-child(2) .bx {
  background: var(--light-yellow);
  color: var(--yellow); }

#content main .box-info li:nth-child(3) .bx {
  background: var(--light-orange);
  color: var(--orange); }

#content main .box-info li .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark); }

#content main .box-info li .text p {
  color: var(--dark); }

#content main .table-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark); }

#content main .table-data > div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto; }

#content main .table-data .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px; }

#content main .table-data .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600; }

#content main .table-data .head .bx {
  cursor: pointer; }

#content main .table-data .order {
  flex-grow: 1;
  flex-basis: 500px; }

#content main .table-data .order table {
  width: 100%;
  border-collapse: collapse; }

#content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey); }

#content main .table-data .order table td {
  padding: 16px 0; }

#content main .table-data .order table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px; }

#content main .table-data .order table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover; }

#content main .table-data .order table tbody tr:hover {
  background: var(--grey); }

#content main .table-data .order table tr td .status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700; }

#content main .table-data .order table tr td .status.completed {
  background: var(--blue); }

#content main .table-data .order table tr td .status.process {
  background: var(--yellow); }

#content main .table-data .order table tr td .status.pending {
  background: var(--orange); }

#content main .table-data .todo {
  flex-grow: 1;
  flex-basis: 300px; }

#content main .table-data .todo .todo-list {
  width: 100%; }

#content main .table-data .todo .todo-list li {
  width: 100%;
  margin-bottom: 16px;
  background: var(--grey);
  border-radius: 10px;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

#content main .table-data .todo .todo-list li .bx {
  cursor: pointer; }

#content main .table-data .todo .todo-list li.completed {
  border-left: 10px solid var(--blue); }

#content main .table-data .todo .todo-list li.not-completed {
  border-left: 10px solid var(--orange); }

#content main .table-data .todo .todo-list li:last-child {
  margin-bottom: 0; }

/* MAIN */
/* CONTENT */
@media screen and (max-width: 768px) {
  #sidebar {
    width: 200px; }
  #content {
    width: calc(100% - 60px);
    left: 200px; }
  #content nav .nav-link {
    display: none; } }

@media screen and (max-width: 576px) {
  #content nav form .form-input input {
    display: none; }
  #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: var(--dark); }
  #content nav form.show .form-input input {
    display: block;
    width: 100%; }
  #content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    border-radius: 0 36px 36px 0;
    color: var(--light);
    background: var(--red); }
  #content nav form.show ~ .notification,
  #content nav form.show ~ .profile {
    display: none; }
  #content main .box-info {
    grid-template-columns: 1fr; }
  #content main .table-data .head {
    min-width: 420px; }
  #content main .table-data .order table {
    min-width: 420px; }
  #content main .table-data .todo .todo-list {
    min-width: 420px; } }
