<hr style="position:relative;top:80px ;">
<div class="container p-4 mb-4 bg-light" style="position:relative;top:80px ;height:fit-content">
  <div class="row py-4">
    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="img/logo.png" alt="" width="180" class="mb-3">
      <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt.</p>
      <ul class="list-inline mt-4">
        <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a>
        </li>
        <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest"></i></a>
        </li>
        <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo"></i></a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
      <h6 class="text-uppercase font-weight-bold mb-4">Shop</h6>
      <ul class="list-unstyled mb-0">
        <li class="mb-2"><a href="#" class="text-muted">For Women</a></li>
        <li class="mb-2"><a href="#" class="text-muted">For Men</a></li>
        <li class="mb-2"><a href="#" class="text-muted">Stores</a></li>
        <li class="mb-2"><a href="#" class="text-muted">Our Blog</a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
      <h6 class="text-uppercase font-weight-bold mb-4">Company</h6>
      <ul class="list-unstyled mb-0">
        <li class="mb-2"><a href="#" class="text-muted">Login</a></li>
        <li class="mb-2"><a href="#" class="text-muted">Register</a></li>
        <li class="mb-2"><a href="#" class="text-muted">Wishlist</a></li>
        <li class="mb-2"><a href="#" class="text-muted">Our Products</a></li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-6 mb-lg-0">
      <h6 class="text-uppercase font-weight-bold mb-4">Newsletter</h6>
      <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</p>
      <div class="p-1 rounded border">
        <div class="input-group">
          <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1"
            class="form-control border-0 shadow-0">
          <div class="input-group-append">
            <button id="button-addon1" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
      <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
        <img src="https://mdbootstrap.com/img/new/fluid/city/113.jpg" class="w-100" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
      <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
        <img src="https://mdbootstrap.com/img/new/fluid/city/111.jpg" class="w-100" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
      <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
        <img src="https://mdbootstrap.com/img/new/fluid/city/112.jpg" class="w-100" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
      <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
        <img src="https://mdbootstrap.com/img/new/fluid/city/114.jpg" class="w-100" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
      <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
        <img src="https://mdbootstrap.com/img/new/fluid/city/115.jpg" class="w-100" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
      <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
        <img src="https://mdbootstrap.com/img/new/fluid/city/116.jpg" class="w-100" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(165, 97, 97, 0.2);">
    Sinh viên thực hiện :
    <a class="text-white" href="https://mdbootstrap.com/">20520923</a>
  </div>
</div>


<!-- Grid container -->

<!-- Copyright -->

<!-- Copyright -->



<!-- End of .container -->