<footer class="footer">
  <div class="footer-container">
    <p>© 2023 Airbnb, Inc.</p>
    <div class="footer-container-link">
      <a href="#">Quyền riêng tư</a>
      <a href="#">Điều khoản</a>
      <a href="#">Sơ đồ trang web</a>
    </div>
  </div>
</footer>