<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="nav">
  <div class="nav-home"><a href="/"><i class=" fa fa-regular fa-map" title="hihi"> montecarlo</i></a>
  </div>
  <div class="nav-search">
    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <input type="text" placeholder="Find your placev...">
    </button>

  </div>
  <div class="nav-add">
    <button class=""> <a href="/add">Cho thuê chỗ ở qua fiat</a></button>
  </div>
  <div class="nav-user">
    <button class="btn btn-light" id="user-btn"> <i class=" fa fa-solid fa-user" title="cc"></i></button>
    <div class="list-auth">
      {{#if islogged}}
      <div class=""><a href="/logout">Đăng Xuất </a></i></div>
      <div class=""><a href="/logout"> Thông Tin tài khoản</a></i></div>

      {{else}}
      <div class=""><a href="/login">Đăng Nhập </a></i></div>
      <div class=""><a href="/register">Đăng Kí Tài Khoản</a></i></div>
      {{/if}}
    </div>

  </div>


</div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">


      </div>
      <div class="modal-body">
        <form class="searchBoard-form" action="/" method="GET">

          <label for="datepicker">Ngày bắt đầu
            <input type="date" id="datepicker" autocomplete="off" name="start">
          </label>


          <label for="datepicker1">Ngày kết thúc
            <input type="date" id="datepicker1" autocomplete="off" name="end">
          </label>


          <label for="datepicker">số khách tối đa
            <input type="number" name="quantity" min="1">
          </label>


          <label for="datepicker">
            <input type="text" name="search">
          </label>

          <button type="submit">SEARCH</button>
        </form>


      </div>

    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#target").on("click", function () {

      $(".searchBoard").addClass("display1");
    });
    $("#unshow").on("click", function () {
      $("#searchBoard").removeClass("display1");


    });
    $("#user-btn").on("click", function () {
      $(".list-auth").toggleClass("display");
    });
  });
</script>