<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="nav">
  <div class="nav-home"><a href="/">Home Page</a></div>

  <div class="nav-items">
    <div class="nav-item nav-women">
      <div class="nav-item-link"><a href="/women">nu</a></div>
      <div class="nav-content women">
        <div class="ao">
          <h2>Ao</h2>
          <a href="/women/ao/tatca">tat ca</a>
          <a href="/women/ao/aothun">ao thun</a>
          <a href="/women/ao/aothunhoatiet">ao thun hoa tiet</a>
          <a href="/women/ao/aoni">ao ni</a>
          <a href="/women/ao/somi">ao so mi</a>
          <a href="women/ao/cardigan">ao cardigan</a>
          <a href="/women/ao/aolen"> ao len</a>
          <a href="/women/ao/bra"> bra tops</a>
        </div>



      </div>
    </div>
        <div class="nav-item nav-men">
      <div class="nav-item-link"><a href="/men">nam</a></div>
      <div class="nav-content men">
        <div class="ao">
          <h2>Ao</h2>
          <a href="/women/ao/tatca">tat ca</a>
          <a href="/women/ao/aothun">ao thun</a>
          <a href="/women/ao/aothunhoatiet">ao thun hoa tiet</a>
          <a href="/women/ao/aoni">ao ni</a>
          <a href="/women/ao/somi">ao so mi</a>
          <a href="women/ao/cardigan">ao cardigan</a>
          <a href="/women/ao/aolen"> ao len</a>
          <a href="/women/ao/bra"> bra tops</a>
        </div>



      </div>
    </div>
        <div class="nav-item nav-kid">
      <div class="nav-item-link"><a href="/kid">tre em</a></div>
      <div class="nav-content kid">
        <div class="ao">
          <h2>Ao</h2>
          <a href="/women/ao/tatca">tat ca</a>
          <a href="/women/ao/aothun">ao thun</a>
          <a href="/women/ao/aothunhoatiet">ao thun hoa tiet</a>
          <a href="/women/ao/aoni">ao ni</a>
          <a href="/women/ao/somi">ao so mi</a>
          <a href="women/ao/cardigan">ao cardigan</a>
          <a href="/women/ao/aolen"> ao len</a>
          <a href="/women/ao/bra"> bra tops</a>
        </div>



      </div>
    </div>
        <div class="nav-item nav-phukien">
      <div class="nav-item-link"><a href="/phukien">phu kien</a></div>
      <div class="nav-content phukien">
        <div class="ao">
          <h2>Ao</h2>
          <a href="/women/ao/tatca">tat ca</a>
          <a href="/women/ao/aothun">ao thun</a>
          <a href="/women/ao/aothunhoatiet">ao thun hoa tiet</a>
          <a href="/women/ao/aoni">ao ni</a>
          <a href="/women/ao/somi">ao so mi</a>
          <a href="women/ao/cardigan">ao cardigan</a>
          <a href="/women/ao/aolen"> ao len</a>
          <a href="/women/ao/bra"> bra tops</a>
        </div>



      </div>
    </div>

   
  </div>
  <div class="nav-search">
    <input type="search" placeholder="  quan ao nam..."><span class="material-symbols-outlined nav-search-icon">
      search
    </span></input>
  </div>
  <div class="nav-account">
    <div class="nav-item">dang nhap</i></div>
    <div class="nav-item">dang xuat</i></div>
    <div class="nac-item">
      <a href="/add">+</a>
    </div>
  </div>

</div>