<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="mainnav">
  <div class="mainnav-home"><a href="/"><i class=" fa fa-regular fa-map" title="hihi"> montecarlo</i></a>
  </div>
  <div class="mainnav-search">
    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <input type="text" placeholder="Địa điểm ... |   Thời gian ... |   Khách ...">
    </button>

  </div>
  <div class="mainnav-add">
    <button class=""> <a href="/add">Cho thuê chỗ ở qua fiat</a></button>
  </div>
  {{!-- <div class="nav-user">
    <button class="btn btn-light" id="user-btn"> <i class=" fa fa-solid fa-user" title="cc"></i></button>
    <div class="list-auth">
      {{#if islogged}}
      <div class=""><a href="/logout">Đăng Xuất </a></i></div>

      <div class=""><a href="/user/trip"> Thông tin chuyến đi </a></i></div>
      <div class=""><a href="/wishlist"> danh sách yêu thích</a></i></div>
      <div class=""><a href="/user/detail"> Thông tin cá nhân</a></i></div>

      {{else}}
      <div class=""><a href="/login">Đăng Nhập </a></i></div>
      <div class=""><a href="/register">Đăng Kí Tài Khoản</a></i></div>
      {{/if}}
    </div>

  </div> --}}
  <div class="btn-group mainnav-user p-4 rounded-1">
    <button class="btn bg-white btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-person"></i>
    </button>

    <ul class="dropdown-menu p-2">
      {{#if islogged}}
      <li><a class="dropdown-item" href="/logout">Đăng Xuất </a></di>

      <li><a class="dropdown-item" href="/user/trip"> Thông tin chuyến đi </a></li>
      <li><a class="dropdown-item" href="/user/wishlist"> Danh sách yêu thích</a></li>
      <li><a class="dropdown-item" href="/user/detail"> Thông tin cá nhân</a></li>

      {{else}}
      <li><a class="dropdown-item" href="/login">Đăng Nhập </a></li>
      <li><a class="dropdown-item" href="/register">Đăng Kí Tài Khoản</a></li>
      {{/if}}
    </ul>
  </div>


</div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded-5">
      <div class="modal-header">
        Trãi nghiệm thực tế nào ...
      </div>
      <div class="modal-body">
        <form class="searchBoard-form" action="/" method="GET">
          <div class="item"> <label for="start">Ngày bắt đầu
              <input type="date" id="start" onfocus="this.showPicker()" autocomplete="off" name="start">
            </label></div>

          <div class="item"> <label for="end">Ngày kết thúc
              <input type="date" onfocus="this.showPicker()" id="end" autocomplete="off" name="end">
            </label>

          </div>
          <div class="item">
            <label for="number">Số khách tối đa
              <input type="number" id="number" name="quantity" min="1">
            </label>
          </div>


          <div class="item"> <label for="search">Từ khóa
              <input type="text" id="search" name="search">
            </label>
          </div>

          <button type="submit">Tìm Kiếm</button>
        </form>


      </div>

    </div>
  </div>
</div>

<script>
  $(document).ready(function () {


    $("#user-btn").on("click", function () {
      $(".list-auth").toggleClass("display");
    });
  });
</script>