<div class="nav">
  <div class="nav-home"><a href="/">Home Page</a></div>
  
  <div class="nav-items">
    <div class="nav-item">
      <a href="/women">nu</a></div>
      
    <div class="nav-item">
      <a href="men">nam</a>
    </div>
    <div class="nav-item"><a href="kid">tre em</a></div>
    <div class="nav-item"><a href="accessory">phu kien</a></div>
  </div>
<div class="nav-search">
    <input type="search" placeholder="  quan ao nam..." />
  </div>
  <div class="nav-account">
    <div class="nav-item">dang nhap</i></div>
    <div class="nav-item">dang xuat</i></div>
  </div>

</div>