<div class="add-container">
    <form class="add-form" action="/add/step0" method="post">
        <div class="add-input add-name"> <label for="name">Product Name</label>
            <textarea id="name" name="name"></textarea>

        </div>
        <div class="add-input add-gender">
            <div><label for="nam">nam</label> <input id="nam" type="radio" name="gender" value="nam"></input></div>
            <div> <label for="nu">nữ</label>
                <input id="nu" type="radio" name="gender" value="nu"></input>
            </div>
            <div> <label for="unisex">trẻ em</label>
                <input id="unisex" type="radio" name="gender" value="kid"></input>
            </div>
            <div> <label for="phukien">phụ kiện</label>
                <input id="phukien" type="radio" name="gender" value="phukien"></input>
            </div>





        </div>
        <div class="add-submit">
            <input id="submit" type="submit" value="tiep"></input>

        </div>
    </form>
</div>