<div class="container vh-100 d-flex justify-content-center flex-column align-items-center bg-light">
    <form class=" h-70      d-flex flex-column align-items-center p-4" action="/add/step2" method="post"
        enctype="multipart/form-data">


        <div class="h-100 w-100">
            <div class="text-center">
                <p class="font-weight-bold">Thêm hình cho nơi ở của bạn</p>
            </div>
            <div class="">
                <label for="image"><img id="uploadPreview" class="rounded-2  mb-3"
                        style="width: 200px; height: 200px;" /></label>
                <input style="display: none;" type="file" id="image" onchange="PreviewImage()" rows="2"
                    name="productImg" multiple />
            </div>


        </div>

        <div class="">
            <div class="">
                <input class="btn btn-outline-success" type="submit" value="Thêm chỗ ở"></input>
            </div>

        </div>
    </form>



</div>
<script>

    $(document).ready(function () {
        document.getElementById("uploadPreview").src = "/img/default/home.jpg";
    });

    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("image").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    };
</script>