<div class="add-container">
    <form class="add-form" action="/add/step0" method="post">
        <div class="add-form-input-text"> <label for="name">Tên nơi nghỉ dưỡng</label>
            <textarea class="input" id="name" name="name"></textarea>

        </div>
        <div class="add-form-input-radio">
            <p>Phân loại chỗ ở :</p>

            {{#each items}}
            <div> <label for={{this.name}}><img src="/img/type/{{this.img}}"></label>
                <input id={{this.name}} type="radio" name="type" value={{this.name}}></input>
            </div>
            {{/each}}






        </div>
        <div class="add-form-submit">
            <input id="submit" type="submit" value=">>>>>>>"></input>

        </div>
    </form>
</div>