<div class="add-container">
    <form class="add-form" action="/add/step2" method="post">
        <div class="add-input add-price">
            <input id="price" type="number" name="price"></input>
            <label for="price">Price (vnd)</label>
        </div>

        <div class="add-submit add-input">
            <input id="submit" type="submit" value=" luu san pham"></input>

        </div>
    </form>
</div>