<div class="w-100 bg-dark p-4 " style="min-height:100vh">
    <a class="link link-light" href="/">back</a>
    <div class="w-100 d-flex flex-row flex-wrap p-4 ">
        {{#each list}}
        <div class="card m-2 rounded-2 w-25 h-25 " data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-custom-class="custom-tooltip"
            data-bs-title="Chuyến đi tới {{this.room.name}} trong {{this.day}} với giá {{this.value}} $">
            <img class="img-fluid w-100 h-100" src="/img/post/{{this.room.display}}">

        </div>

        {{/each}}

    </div>



</div>
<script>
    $(document).ready(function () {
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    });
</script>